<component name="ArtifactManager">
  <artifact type="war" name="springCrud:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springCrud-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springCrud:war exploded" />
    </root>
  </artifact>
</component>